<mbsc-form [options]="formSettings">
  <mbsc-button flat icon="home" color="primary" style="float: left;" (click)="goHome()" *ngIf="showNavigation">Home
  </mbsc-button>
  <mbsc-button flat color="primary" icon="unlocked" style="float: left;" (click)="logout()" *ngIf="showNavigation">
    Logout</mbsc-button>
  <mbsc-button flat color="primary" style="float: left;" *ngIf="showNavigation">{{username}}</mbsc-button>
  <br>
  <br>
  <p class="mbsc-align-center" style="color: black;font-size: 20px;font-style: oblique; width: 100%">
    <!-- {{salonAdminTitle }} -->
    Oman Apps Admin
  </p>
  <!-- <div class="md-hamb">
        <mbsc-hamburger-nav *ngIf="showHambMenu" [options]="iconMenu" (onItemTap)="navItemTapped($event)">
            <mbsc-nav-item id="createCountry" data-icon="file4" #countryNav>
                {{createCountryText}}
            </mbsc-nav-item>
            <mbsc-nav-item data-icon="file4">{{createStatesText}}</mbsc-nav-item>
        </mbsc-hamburger-nav>
    </div> -->
  <mbsc-bottom-nav [options]="iconNav" (onItemTap)="navItemTapped($event)" *ngIf="showNavigation">
    <mbsc-nav-item>Subscriptions</mbsc-nav-item>
    <mbsc-nav-item>Affiliate</mbsc-nav-item>
    <mbsc-nav-item>New Branch</mbsc-nav-item>
    <mbsc-nav-item>New Store</mbsc-nav-item>
    <!-- <mbsc-nav-item>{{createCitiesText}}</mbsc-nav-item> -->
    <mbsc-nav-item>Places</mbsc-nav-item>
    <mbsc-nav-item>Services</mbsc-nav-item>
  </mbsc-bottom-nav>
</mbsc-form>
