.md-create-account {
    padding: 0!important;
}

.md-create-account .md-cac-title {
    text-align: center;
    padding-bottom: 3em;
}

.md-create-account .md-cac-title,
.md-create-account .md-cac-cont {
    padding-top: 0;
}

.md-create-account .md-cac-cont {
    padding: 0;
    margin: 0;
}

.md-create-account .md-chart-pic {
    background-image: url("/content/img/demos/chart@1x.png");
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 144dpi) {
    .md-create-account .md-chart-pic {
        background: url("/Content/img/demos/chart@2x.png") no-repeat center 12px;
        background-size: 109px 81px;
        background-position: center;
    }
}

.md-phone-num .mbsc-np-dsp {
    min-height: 25px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/* center{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
} */

.loading-image {
    display:block;
    margin: 0 auto;
    }

    body .ui-widget-overlay{
        background-color: #42424200;
    }

    .loader{
        position: fixed;
        display: block;
        z-index: 1009;
        background-color: #42424200;
        opacity: 0.7;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid rgb(247, 243, 243);
    }
