<mbsc-form class="md-create-account" [options]="formSettings">
<!-- <div class="md-chart-pic"></div>  -->

  <br>
  <div class="md-cac-title mbsc-padding">
       <p>{{ 'continue_owner_create' | translate}}</p> 
  </div>
  <div class="md-cac-cont">
      <div class="">
          <mbsc-input name="username" type="text" placeholder={{nameText}}></mbsc-input>
          <mbsc-input name="email" type="email" placeholder={{emailText}}></mbsc-input>
          <mbsc-input name="password" type="text" placeholder={{passwordText}} password-toggle="true"></mbsc-input>
          <mbsc-input [(ngModel)]="numpad" mbsc-numpad [mbsc-options]="numpadSettings" placeholder={{phoneText}}></mbsc-input>
      </div>
      <div class="md-cac-btn mbsc-form-group-inset mbsc-btn-group-block">
          <mbsc-button type="submit">Create account</mbsc-button>
          <mbsc-button flat="true"> I'll do it later</mbsc-button>
      </div>
  </div>
</mbsc-form>
