/* .demo-non-form {
    width: 50%;
    margin: 0 0 0px 0;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
} */

/* .demo-container {
    padding: 0;
}

.mbsc-fr-scroll{
    width: 50%;
}

input[type=number]{
    width: 50px;
}

div#mobiscroll1520026857992.mbsc-comp.mbsc-form.mbsc-ios.mbsc-form-hb.mbsc-ltr {

    background: blue;
} */



